body{
	background-color: #1E555C;
	width: 100%;
	text-align: center;
	font-family: 'Righteous';
	color: white;
}

h1{
	margin-top: 40px;
	font-size: 70px;
}

button{
	font-size: 33px;
	background: transparent;
	border: none;
}